mat-card {
    max-width: 150px !important;
  }
  
  ::ng-deep .mat-card-header-text {
    margin: 0;
  }
  .mat-card-title,
  .mat-card-subtitle {
    margin-bottom: 8px;
  }
  .mat-card-image {
    margin: 0 -16px 0 -16px;
  }
  .mat-card-actions {
    display: flex;
    justify-content: center;
  }