mat-icon {
  color: #4f7836;
}
/* mat-card custom styles */

.page-container {
  padding: 10px 0;
  position: relative;
  min-height: calc(100vh - 100px);
}

.item-list-wrapper {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 20px;
}

mat-paginator {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.search-filter-wrapper {
  display: flex;
  justify-content: space-between;
}

.view-cart-container {
  position: absolute;
  bottom: 60px;
  right: 5px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ecefa3;
}

.class-sched-wrapper {
 display: flex;
 justify-content: space-between;
}

.label-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;

  mat-icon {
    margin-right: 10px;
  }
}
