// .page-container {
//   width: 90%;
//   padding: 0 5%;
//   margin: auto;

//   display: flex;
//   justify-content: space-between;
// }

// .item-list {
//   display: grid;
//   width: 60%;
// }

// .item-list-wrapper {
//   padding: 0 10px;
//   display: grid;
//   grid-template-columns: repeat(4, minmax(0, 1fr));
//   grid-gap: 20px;
// }

// .checkout {
//   width: 40%;
//   padding: 0 10px;
// }

// .column-name {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     font-weight: 500;
//     font-size: 16px;
//     margin: 0;
//     padding: 5px 10px;
//     color: darkslategrey;

//   .width-70 {
//     width: 70%;
//   }

//   .width-20 {
//     width: 20%;
//   }

//   .width-10 {
//     width: 10%;
//   }
// }

// .item-wrapper {
//   display: grid;
//   row-gap: 10px;
//   height: 70vh;
//   align-content: start;
// }
mat-icon {
  color: #4f7836;
}
.page-container {
  position: relative;
  min-height: calc(100vh - 100px);
}

.view-cart-container {
  position: absolute;
  bottom: 0;
  right: 5px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ecefa3;
}
