<div class="page-container">
  <div class="search-filter-wrapper">
    <mat-form-field>
      <mat-label>Favorite food</mat-label>
      <mat-select placeholder="nice">
        <mat-option *ngFor="let filter of [1, 2, 3]" [value]="filter">
          {{ filter }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="item-list-wrapper">
    <app-item-card *ngFor="let equipment of equipmentlist" [equipment]="equipment"></app-item-card>
  </div>
  <div class="view-cart-container clickable">
    <mat-icon (click)="cartClicked()">shopping_cart</mat-icon>
  </div>
  <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
