mat-icon {
  color: #4f7836;
}
/* mat-card custom styles */

.page-container {
  // padding: 10px 0;
  position: relative;
  min-height: calc(100vh - 100px);
}

.item-list-wrapper {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 20px;
}

mat-paginator {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.class-search-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #ddead1;
}

.search-filter-wrapper {
  display: flex;
  justify-content: flex-end;

  mat-form-field {
    margin-left: 10px;
  }
}

.class-sched-wrapper {
  // display: flex;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  min-width: 60%;
}

.view-cart-container {
  position: absolute;
  bottom: 60px;
  right: 5px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ecefa3;
}

.label-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  mat-icon {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .class-sched-wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
